.footer {
  background-color: #388087;
  height: 100%;
  width: 100%;
  color: #f3f3f3;
}

.footer-links-div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.links {
  margin: 10px;
}
.links a {
  text-decoration: underline;
  margin: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
