.navbar {
  background-color: #388087;
  height: 7vh;
  color: #f6f6f2;
  padding-left: 13px;
  padding-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #f6f6f2;
  font-size: 20px;
  font-weight: bold;
}
.search-bar {
  height: 30px;
  width: 800px;
  outline: none;
  border-radius: 8px;
  padding: 5px;
  margin-right: 15px;
}

.logo {
  margin-left: 15px;
}
.logo-section {
  display: flex;
  align-items: center;
}
.search-section {
  display: flex;
  align-items: center;
}
.links-section {
  display: flex;
  align-items: center;
}
.nav-link {
  margin: 0px 15px;
  color: #f6f6f2;
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media (max-width: 1780px) {
  .search-bar {
    width: 700px;
  }
}

@media (max-width: 1200px) {
  .search-bar {
    width: 400px;
  }
}
@media (max-width: 800px) {
  .search-bar {
    width: 300px;
  }
}
@media (max-width: 700px) {
  .links-section {
    display: none;
  }
  .search-bar {
    width: 400px;
  }
  .search-section {
    margin-right: 100px;
  }
}
